
@{
    ViewBag.Title = "Stock Balance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12">
    <h2 class="page-header"><i class="fa fa-bank fa-fw"></i> Stock Balance</h2>
</div>
<!-- /.col-lg-12 -->
<div class="col-lg-12">
    <div ng-app="ngApp" ng-controller="ctrl">
        <h4 class="text-primary">Stock Balance</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <input type="text" value="" placeholder="Product" id="product" name="product" ng-keyup="search()" />
                    <input type="text" value="" placeholder="Category" id="category" name="category" ng-keyup="search()" />
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="tbl">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Cost</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="b in balance track by $index">
                        <td>{{$index+1}}</td>
                        <td>{{b.ProductName}}</td>
                        <td>{{b.Category}}</td>
                        <td>{{b.Unit}}</td>
                        <td>{{b.Qty}}</td>
                        <td>{{b.AVGCost}}</td>
                        <td>{{b.Total}}</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right"><b>Total Qty</b></td>
                        <td><b class="text-danger">{{totalQty}}</b></td>
                        <td class="text-right"><b>Grand Total</b></td>
                        <td><b class="text-danger">$ {{total.toFixed(2)}}</b></td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
    <script src="~/scripts/jquery-1.12.4.min.js"></script>
    <script>
        window.onload = function () {
            $(".nav>li>a#link3").addClass("current");
        }
    </script>

    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/scripts/appjs/stock-balance.js"></script>

