
@{
    ViewBag.Title = "Sale By Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12">
    <h2 class="page-header"><i class="fa fa-wpforms fa-fw"></i> Sale By Product</h2>
</div>
<!-- /.col-lg-12 -->
<div class="col-lg-12">
    <div ng-app="ngApp" ng-controller="ctrl">
        <h4 class="text-primary">Sale By Product</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <input type="text" value="" placeholder="From Date" id="fromdate" name="fromdate" ng-model="formDate" ng-change="search()" />
                    <input type="text" value="" placeholder="To Date" id="todate" name="todate" ng-model="toDate" ng-change="search()" />
                    <input type="text" value="" placeholder="Product Name" id="productname" ng-model="productname" name="productname" ng-change="search()" />
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="tbl">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in products track by $index">
                        <td>{{$index+1}}</td>
                        <td>{{p.ProductName}}</td>
                        <td>{{p.Category}}</td>
                        <td>{{p.Unit}}</td>
                        <td>{{p.Qty}}</td>
                        <td>{{p.Total}}</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right"><b>Total Qty</b></td>

                        <td><b class="text-danger">{{totalQty}}</b><b class="pull-right">Grand Total</b></td>
                        <td><b class="text-danger">$ {{total.toFixed(2)}}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <script src="~/scripts/jquery-1.12.4.min.js"></script>

    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery-ui.min.js"></script>
    <script src="~/scripts/angular.min.js"></script>
    <script>
        window.onload = function () {
            $(".nav>li>a#link2").addClass("current");
        }
        $(function () {
            $("#fromdate").datepicker();
            $("#todate").datepicker();
        });
    </script>
    <script src="~/scripts/appjs/sale-by-product.js"></script>
