.navbar-top{
    background: #2d7ead;
}
.text-white{
    color: #EEE;
}
.text-white:hover{
    color: #FFF;
}
.navbar-nav li a:link, .navbar-nav li a:visited{
    color: #EEF;
}
.navbar-nav li a:hover, .navbar-nav li a:active, .navbar-nav li a:focus{
    color: #036;
}
ul#menu1>li>a, ul#menu1>li>a:link{
    color: #333;
}
ul#menu1>li>a:hover{
    color: #036;
}
ul.icon{
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 27px;
}
.current{
    background: #ccc!important;
    color: #036!important;
}
.icon li{
    display: inline-block;
    margin: 4px 18px;
}
.icon li a img {
        -moz-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
        -webkit-transition: all linear 0.3s;
        transition: all linear 0.3s;
}
.icon li a:hover{
    outline: none;
    border: none;
    text-decoration: none;

}
.icon li a:hover img{
    box-shadow: 0 0 5px #000;
}

   .mybtn{
        border-radius: 0!important;
    }
    .mg-top{
        margin-top: 7px;
    }
.glyphicon-x{
    background: rgba(0,0,0,0.2) url('img/menu.png') no-repeat center center;
    width: 40px;
    height: 30px;
    background-size: cover;
    transition: all linear 0.3s;
}
.glyphicon-x:hover{
    background: rgba(0,0,0,0.4) url('img/menu.png') no-repeat center center;
    background-size: cover;
}
.textbox {
    height: 32px;
}
.mylabel{
    font-weight: normal;
}
.box input{
    padding: 4px 8px;
    font-size: 13px;
}
.tbl{
    width: 100%;
    margin-top: 8px;
    border-spacing: 0;
    border: 1px solid #ddd;
}
.tbl thead tr{
    background: #ccd;
}
.tbl tbody tr{
    transition:all linear 0.3s;
}
.tbl thead tr th{
    color: #036;
    padding: 4px 7px;
    border-left: 1px solid #aaa;
}
.tbl thead tr th:first-child{
    border-left: none;
}
.tbl tbody tr td{
    padding: 5px 7px;
    font-size: 13px;
    font-family: Arial;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.tbl tbody tr td:first-child{
    border-left: none;
}
.tbl tbody tr:hover
{
    background: #ddd;
}
@media screen and (max-width: 900px)
{
    .tbl thead tr th{
        padding: 2px 3px;
        font-size: 11px;
    }
    .tbl tbody tr td{
        font-size: 10px;
        padding: 2px 3px;
    }

}
@media screen and (max-width: 800px)
{
   .box input{
        padding: 2px 6px;
        font-size: 12px;
        width: 100%;
        margin-bottom: 2px;
    }
}